/***************
General
***************/

body {
  font-family: 'Mandali', sans-serif;
  color: #333f3e;
}

h1, h2, h4 {
  color: #0bb789;
  font-family: 'Varela Round', sans-serif;
}

h4 {
  margin-top: 0.5em;
}

a {
  text-decoration: none;
  color: #333f3e;
  font-size: 1em;
}

a:hover, a:focus {
  color: #0bb789;
  text-decoration: none;
}

li {
 list-style: none; 
}

.resumecontainer {
  clear: both;
}

/***************
Header
***************/
#Mei {
  border: 8px solid #0BB789;
  border-radius: 50%;
  height: 5em;
  width: auto;
  position: relative;
  z-index: 2;
  float: right;
}

#meilogo {
  display: block;
  height: 5em;
  position: relative;
  z-index: 0;
  float: left;
}

/***************
Table
***************/

.table td {
  border-top: none;
  padding-left: 0;  
} 

.table td:nth-child(even) {
  padding-right: 2em;
}

#tableone, #tabletwo {
  width: 100%;
}

#tabletwo {
  margin-top: 1em;
}

th {
  text-decoration: underline;
}

.skills {
  margin-left: 1px;
}
/***************
Projects
***************/

.projectpic {
  height: 100%;
  border: 5px solid #333f3e;
  border-radius: 5px;
  padding: 0;
}

.projectsrow {
  margin-left: 0.188em;
  padding-bottom: 0.5em;
  padding-right: 15px;
  padding-right: 15px;
}

/***************
Carousel
***************/

.d-block {
  border: 5px solid #333f3e;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
/***************
Social Icons
***************/

#social {
  position: relative;
}

#social li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  background-image: url('../img/socialsprite.png');
}

#social li {
  width: 43px;
  display: block;
}

#emailtext, #phonetext, #linkedintext {
  width: 15em;
  margin-left: 46px;
}
 
#email {
  top: 0;
  height: 43px;
  background-position: 0 0;
}

#phone {
  top: 2.875em;
  height: 43px;
  background-position: -43px 0;
}

#linkedin {
  top: 5.750em;
  height: 43px;
  background-position: -86px 0;
}

#email:hover {
  background-position: 0 -43px;
}

#phone:hover {
  background-position: -43px -43px;
}

#linkedin:hover {
  background-position: -86px -43px;
}

