@media screen and (min-width: 480px) {
  
  #mobilelogo {
    display: none;
  }

  #logo {
    display: initial;
    min-width: 90%;
    position: relative;
    z-index: 1;
  }
  
  nav li a {
    display: inline-block;
    float: right;
    position: relative;
    z-index: 2;
    top: 6em;
    right: 6.5em;
    margin-right: 2em;
  }
}

@media screen and (min-width: 990px) {
  nav li a {
    position: relative;
    z-index: 2;
    top: 4.5em;
    right: 5em;
    margin-right: 2em;
  }

}