@media screen and (max-width: 769px) {
  .projecttext {
    margin-left: -15px;
  }
  
  .resume {
    margin-bottom: 1em;
  }

}

@media screen and (min-width: 769px) {
  .skills {
    position: relative;
    right: -2em;
  }
  
  a {
    font-size: 1.5em;
  }
  
  .d-block {
    padding-bottom: 4em;
  }
  
  .carousel-caption {
    margin-bottom: -1.75em;
    color: #333f3e;
  }
  
  .threeline {
    padding-bottom: 5em; 
  }
  
  .threelines {
    margin-bottom: -2em;
  }
  
  .artwork {
    padding-bottom: 1rem;
  }
  
  #Mei {
    height: 10em;
    width: auto;
    position: relative;
  }

}

@media screen and (min-width: 1200px) {
  #tableone {
    float: left;
    width: 49%;
  }
  #tabletwo {
    float: right;
    width: 49%;
    margin-top: -0.5em;
  }
}

